/.vscode/
/.next/
.env*
.docker.env
/node_modules/
*.md
*.code-workspace
/.github/
/.git/
/build/
/dist/
/out/
*.tsbuildinfo
next-env.d.ts
.DS_Store
*.pem
npm-debug.log*
Dockerfile
docker-compose*
*.swp
